* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100vh;
  
    display: grid;
    grid-template:
      /* "server-menu header header" 60px */
       "server-menu channel-menu content" 1fr /
      80px 200px 1fr;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  